<?xml version='1.0' encoding='UTF-8' ?>
<!--
  ~ Copyright 2019 The JIMDB Authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<Configuration status="OFF">
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} [%level] -- %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>
        <RollingRandomAccessFile name="ROLLFILE" immediateFlush="false" bufferSize="256"
                                 fileName="/tmp/Logs/jim-server.log"
                                 filePattern="/tmp/Logs/jim-server.log.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="/tmp/Logs" maxDepth="1">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info" includeLocation="false">
            <AppenderRef ref="CONSOLE"/>
        </AsyncRoot>
    </Loggers>
</Configuration>